/* Color morado claro de fondo para el ítem activo */
.navbar .nav-link.active {
    background-color: #a970ff; /* morado claro - ajústalo a tu color preferido */
    color: #fff !important;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

/* Letra más grande y navbar más alto */
.custom-navbar .nav-link {
    font-size: 1.2rem; /* ligeramente más grande */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

/* Navbar más alto en general */
.custom-navbar {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

/* Estilo general para escritorio (vista normal) */
.navbar {
    height: 90px;
}

/* Estilo para móviles (cuando entra en modo responsive) */
@media (max-width: 991.98px) {
    .navbar {
        min-height: auto !important;
        height: auto !important;
    }
}


/* Navbar fija y con altura */
.custom-navbar {
    min-height: 85px;
    z-index: 1030; /* sobre otros elementos */
}

.navbar .nav-link i {
    margin-right: 0.4rem;
}


.navbar-collapse, .show{
    min-height: 1px;
}
.dropdown-menu-end{

    background-color: #060536;
}
.dropdown-menu-end:hover{

    background-color: #c0acdf;
}

/* Boton para volver a pagina anterior */

.back-button {
    padding: 0.4rem 0.8rem;
    transition: background-color 0.3s ease;
    border-radius: 50%;
}

.back-button:hover {
    background-color: #a970ff; /* color morado claro */
    color: white;
    border-color: #a970ff;
    border-radius: 50%;
}

.logo-navbar {
    height: 60px;      /* altura ideal para navbar */
    width: auto;       /* mantiene la proporción */
    object-fit: contain;
    margin-bottom: 13px;
}


/* En navbar.css cerrar sesion */
/* navbar.css */



.dropdown-item.text-danger {
    color: #921204;
}

.dropdown-item.text-danger:hover {
    background-color: #c0acdf;
    color: #f1f1f1;
    min-height: 20px;
}

